<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb18030">
    <meta name="referrer" content="origin">
    <meta name="renderer" content="webkit">
    <style>
        body {
            background: #fff;
            color: #000;
            font-weight: normal;
            padding: 0 7px 6px 4px;
            margin: 0;
        }
        body.thumb_list_readmail {
            padding: 0;
        }
    </style>
</head>
<body>
<div style="position:relative;z-index:1;margin-bottom:12px;">
    <div style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">
        <div id="mailContentContainer">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                <tbody>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
                    <tbody>
                    <td height="63" bgcolor="#3b485b">
                        <table>
                            <td text-align="middle" style="padding-left: 20px;padding-top:5px;color:#fff;font-size:16px;">凌霄的博客</td>
                        </table>
                    </td>
                    </tbody>
                    <tbody>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td width="73" align="left" valign="top" style="border-top:1px solid #d9d9d9;border-left:1px solid #d9d9d9;"></td>
                                <td valign="top" style="border-top:1px solid #d9d9d9">
                                    <div style="font-size:14px;line-height:10px"><br><br><br><br></div>
                                    <div style="font-size:18px;line-height:18px;color:#444;">尊敬的用户：<br><br><br></div>
                                    <div style="font-size:14px;line-height:22px;color:#444;font-weight:bold;">您本次注册验证码为：
                                        <font color="#FF0000" th:text="${verifyCode}"></font>
                                    </div>
                                    <div style="font-size:14px;line-height:10px"><br><br></div>
                                    <div style="font-size:14px;line-height:22px;color:#666;">验证码<span th:text="${expireTime}"/>分钟内有效，请尽快完成注册！</div>
                                    <div style="font-size:14px;line-height:10px"><br><br><br><br></div>
                                </td>
                                <td width="65" align="left" valign="top" style="border-top:1px solid #d9d9d9;border-right:1px solid #d9d9d9;"></td>
                            </tr>
                            <tr>
                                <td style="border-left:1px solid #d9d9d9">&nbsp;</td>
                                <td align="left" valign="top" style="color:#999">
                                    <div style="font-size:8px;line-height:14px"><br><br></div>
                                    <div style="min-height:1px;font-size:1px;line-height:1px;background-color:#e0e0e0">&nbsp;</div>
                                    <div style="font-size:12px;line-height:20px;width:425px;"><br><br>此邮件由凌霄博客系统自动发出，请勿回复！</div>
                                </td>
                                <td style="border-right:1px solid #d9d9d9">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-left:1px solid #d9d9d9;">
                                    <div style="min-height:42px;font-size:42px;line-height:42px">&nbsp;</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    </tbody>
                </table>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>